@import "../scss/variables.scss";

.latest-news-item {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  .item-box-img {
    width: 30%;
    img {
      width: 100%;
    }
  }
  .item-box-content {
    width: 70%;
    padding: 10px 30px;
    .content-title {
      font-size: 24px;
      font-weight: bold;
      a {
        color: black;
      }
      &:hover a {
        color: $primaryColor;
      }
    }
    .content {
      font-size: 15px;
      margin-top: 20px;
    }
    .content-info {
      display: flex;
      flex-wrap: wrap;
      margin-top: 30px;
      .info-name {
        font-size: 12px;
        font-weight: bold;
      }
      .info-date {
        font-size: 11px;
        margin-left: 20px;
        color: $dateTextColor;
        letter-spacing: 1px;
      }
    }
  }
}

// responsive

@media screen and (max-width: 782px) {
  .latest-news-item {
    width: 97%;
    .item-box-img {
      width: 100%;
    }
    .item-box-content {
      width: 100%;
      padding: 10px 0;
      .content-title {
        font-size: 20px;
      }
    }
  }
}
