@import "../scss/variables.scss";

.latest-news {
  margin-top: 1%;

  .container {
    width: 84%;
    margin: auto;
    display: flex;
    padding: 15px 0;
    .latest-container {
      width: 70%;

      .latest-news-title {
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}

// responsive
@media screen and (max-width: 1200px) {
  .latest-news {
    .container {
      width: 90%;
    }
  }
}
@media screen and (max-width: 993px) {
  .latest-news {
    .container {
      width: 98%;
    }
  }
}
@media screen and (max-width: 782px) {
  .latest-news {
    .container {
      display: flex;
      flex-wrap: wrap;
      width: 93%;
      .latest-container {
        width: 100%;
        flex: 100%;
        .latest-news-title {
          margin-top: 30px;
        }
      }
    }
  }
}
