@import "../scss/variables.scss";

.navbar {
  .admin-navbar {
    width: 80%;
    margin: auto;
   
    .navbar-container {
      display: flex;
        flex-wrap: wrap;
        li{
            margin: 30px;
            a{
                color: #9AA0AC;
                &:hover{
                    color: $primaryColor;
                }
            }
        }
    }
  }
}
