@import "../scss/variables.scss";

header {
  
  z-index: 999;
  .box-ads {
    .container {
      width: 84%;
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      padding: 30px 0;
      .logo {
        max-width: 40%;
        flex: 40%;
        img {
          max-width: 20%;
          padding: 10px 0;
        }
      }
      .ads {
        max-width: 60%;
        flex: 60%;
        img {
          width: 100%;
        }
      }
    }
  }

  .menu {
    background-color: $bgColor2;
    display: flex;
    padding: 0 7%;
  
    .main-container {
      display: flex;
      width: 84%;
      padding: 0 0;
      .menu-item {
        margin: 0 20px;
        height: 60px;
        line-height: 60px;
        cursor: pointer;
        .menu-item-a {
          color: white;
          font-size: 14px;
          font-weight: bold;
          position: relative;
          &:after {
            content: "\f107";
            font-family: "FontAwesome";
            margin-left: 5px;
          }
          &:hover {
            color: $primaryColor;
          }
        }

        // submenu
        .menu-item-submenu {
          visibility: hidden;
          opacity: 0;
          background-color: white;
          width: 220px;
          z-index: 9;
          position: absolute;
          margin-left: -18px;
          margin-top: -2px;
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
          line-height: 44px;
          transition: 0.5s ease-in-out;
          -webkit-transition: 0.5s ease-in-out;
          -moz-transition: 0.5s ease-in-out;
          -ms-transition: 0.5s ease-in-out;
          -o-transition: 0.5s ease-in-out;

          .submenu-item {
            border-bottom: 1px solid #e1e1e1;
            padding: 0px 16px;
            &:hover {
              .submenu-item-a {
                color: $primaryColor;
              }
            }
            .submenu-item-a {
              color: black;
              font-size: 12px;
              font-weight: 600;
            }
          }
        }

        &:hover .menu-item-submenu {
          visibility: visible;
          opacity: 1;
          transition: 0.5s ease-in-out;
          -webkit-transition: 0.5s ease-in-out;
          -moz-transition: 0.5s ease-in-out;
          -ms-transition: 0.5s ease-in-out;
          -o-transition: 0.5s ease-in-out;
        }
        .menu-item-home {
          &::after {
            content: "" !important;
          }
        }
      }
    }

    .search-container {
      display: flex;
      align-items: center;
      margin-left: 100px;
      color: white;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        color: $primaryColor;
      }
    }
   
  
    .hamburger-btn {
      display: none;
      font-size: 20px;
      cursor: pointer;
      margin-left: auto;
      color: white;
    }
  }
  // handle menu fixed top
  .fixedTop {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}

// Drawer
.drawer {
  .box-logo{
    margin: auto;
    text-align: center;
    .drawer-logo {
      padding: 0 0 40px 0;
      width: 38%;
      
    }
  }
  .drawer-menu-container {
    .menu-item {
      margin: 20px 0;
    }
  }
  .drawer-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 256px;
    height: 14vh;
    // background-color: rgba(51, 51, 51, 0.5);
    z-index: -1;
  }
 
}

// Responsive

@media screen and (max-width: 993px) {
  header {
    .box-ads {
      .container {
        width: 90%;
        .logo {
          max-width: 60%;
          flex: 100%;
          margin: auto;
          text-align: center;
          img {
            max-width: 20%;
            padding: 10px 0;
          }
        }
        .ads {
          max-width: 100%;
          flex: 100%;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 934px){
  header{
    .menu{
      background-color: $bgColor2;
      .main-container{
        width: 84%;
        height: 60px;
        .menu-item{
          display: none;
        }
      }
      .search-container{
        display: none
      }
      .hamburger-btn{
        display: block;
        line-height: 60px;
        
      }
    }
  }
}
