@import "../scss/variables.scss";

.news-item {
  flex: 31% 1;
  max-width: 31%;

  .news-item-box-img {
    img {
      width: 100%;
    }
  }
  .news-item-box-content {
    margin-top: 20px;
    .box-content-title {
      font-size: 20px;
      font-weight: bold;

      a {
        color: black;
      }
      &:hover a {
        color: $primaryColor;
      }
    }

    .box-content-info {
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
      .info-name {
        font-size: 12px;
        font-weight: bold;
      }
      .info-date {
        font-size: 11px;
        margin-left: 20px;
        color: $dateTextColor;
        letter-spacing: 1px;
      }
    }
  }
}
.item {
  margin: 30px 10px;
}

// responsive

@media screen and (max-width: 993px) {
  .news-item {
    flex: 30% 1;
    max-width: 30%;
    .news-item-box-content {
      .box-content-title {
        font-size: 18px;
      }
      .box-content-info {
        display: block;
        .info-date {
          margin-left: 0px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .news-item {
    flex: 100% 1;
    max-width: 100%;
    .news-item-box-content {
      .box-content-title {
        font-size: 20px;
      }
    }
  }
}
